@page
@model AccessDeniedModel

@{
    ViewData["Title"] = "Access denied";
}



@{
    ViewData["Title"] = "Access denied";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Access Denied</title>
    <style>
        /* body {
            height: 100vh;
            background-color: red;
        }

        .access-denied-container {
            max-width: 500px;
        } */

        body {
            background-color: #f2f2f2;
            font-family: Arial, sans-serif;
            text-align: center;
            padding-top: 10%;
        }

        .container {
            background-color: #fff;
            border: 1px solid #ccc;
            display: inline-block;
            padding: 40px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }

        h1 {
            color: #e74c3c;
        }

        p {
            color: #555;
        }
    </style>
</head>
<body class="d-flex justify-content-center align-items-center">

    <div class="text-center container  p-4 border rounded shadow bg-white">
        <h1 class="text-danger fw-bold">403</h1>
        <h4 class="mb-3">Access Denied</h4>
        <p class="text-muted">You do not have permission to view this page.</p>
        @if (User.IsInRole("User"))
        {
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary mt-3">Go to Home</a>

        }
        @if (User.IsInRole("Admin"))
        {
            <a asp-controller="Admin" asp-action="SelectCategory" class="btn btn-primary mt-3">Go to Home</a>

        }
    </div>

</body>
</html>






